#ENVIRONMENT
APP_ENV=qa # qa | prod | dev

### WEB APP CONFIGURATION ###
# WEB APP URL
# WEB_APP_URL=http://localhost/opencart/upload/
WEB_APP_URL=https://tutorialsninja.com/demo/
#WEB_APP_URL=https://awesomeqa.com/ui/
#WEB_APP_URL=https://naveenautomationlabs.com/opencart
#APP_URL=https://opencart.abstracta.us/

# WEB APP Login Credentials
APP_EMAIL=
APP_PASSWORD=

# PRODUCT DETAILS
PRODUCT_NAME: MacBook
PRODUCT_QUANTITY:1
TOTAL_PRICE:$602.00

### API CONFIGURATION ###
# API BASE URL
API_BASE_URL=
USERNAME=
PASSWORD=
USER_ID=
PRODUCT_ID=
CART_ID=
LIMIT=
START_DATE=
END_DATE=

# Basic Authentication Credentials if required
#BASIC_AUTH_USERNAME=YOUR_USERNAME
#BASIC_AUTH_PASSWORD=YOUR_PASSWORD

# API Key if required
#API_KEY=YOUR_API_KEY

# Access Token if required
#ACCESS_TOKEN=YOUR_PERSONAL_ACCESS_TOKEN

# OAuth2 Configuration if required
#CLIENT_ID=YOUR_CLIENT_ID
#CLIENT_SECRET=YOUR_CLIENT_SECRET
#AUTHORIZATION_CODE=YOUR_AUTHORIZATION_CODE
#TOKEN_URL=YOUR_TOKEN_URL

# DB Configuration if required
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=openshop
DB_PORT=3306

# ADMIN APP Login Credentials
ADMIN_USERNAME=
ADMIN_PASSWORD=